<!DOCTYPE html>
<html>
<head>
	<title>Snake Replay</title>
	<style type="text/css">
		{{gameStyle}}
	</style>
	<script type="text/javascript" src="replay.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
		{{gameScript}}
	</script>
</head>
<body>
	<div id='game'>
		
	</div>
	<div id='commands'>Turn: <span class='current'>1</span>/<span class='total'></span><button class='previous'>Previous turn (<--)</button><button class='next'>(-->) Next turn</button></div>
</body>
</html>