html, body {
	height: 98%;
	width: 98%;
	position: relative;
}

#game {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
}

#replay {
	display: none;
}

#nav {
	border: solid 1px #000;
}

.row {
	height: 30px;
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
}

.cell {
	width: 30px;
	height: 30px;
	position: relative;
	background-color: #6dd815;
	border: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.cell.snake {
	background-color: #ce0a78;
}

.cell.snake.head {
	background-color: #f226ee;
}

.cell.food::after {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	border-radius: 50%;
	background-color: #12337b;
}

.chartsPopup {
	display: none;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 94%;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #fff;
}

.chartsPopup .tabs {
	position: relative;
	height: 5%;
	margin-top: 50px;
	border-bottom: 1px solid #000;
	display: flex;
	align-content: flex-start;
	padding: 0 5px;
	overflow-x: auto;
}

.chartsPopup .tabs .tab {
	height: 100%;
	padding: 0 10px;
	/*margin: 0 5px 0 0;*/
	background-color: #ddd;
	color: #000;
	border: 1px outset #000;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-width: 100px;
}

.chartsPopup .tabs .tab.selected {
	border-style: inset;
	background-color: #fff;
}

.chartsPopup .body {
	position: relative;
	height: 85%;
}

.chartsPopup .body .chart {
	height: 100%;
	width: 100%;
	overflow: auto;
	display: none;
}

.chartsPopup .cross {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-image: url(http://www.clker.com/cliparts/W/E/4/8/m/J/back-x-md.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.chatButton {
	z-index: 1;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	background-image: url(http://icons.iconarchive.com/icons/praveen/minimal-outline/512/chat-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.dashboardUserCount {
	position: absolute;
	bottom: 120px;
	right: 20px;
	font-size: 16px;
}

.chatUnreadMessages {
	visibility: hidden;
	z-index: 2;
	position: absolute;
	bottom: 60px;
	right: 52.5px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #990000;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}

.chatPopup {
	background-color: #fff;
	z-index: 3;
	position: absolute;
	height: 90%;
	width: 40%;
	bottom: 20px;
	right: 20px;
	display: none;
	border: 2px solid #000;
	border-radius: 10px;
	display: none;
}

.chatPopup.show {
	animation: chatup 0.5s;
	display: block;
	animation-iteration-count: infinite;
}

.chatPopup.hide {
	animation: chatup 0.5s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	display: block;
	/*display: none;*/
}

.chatPopup .minimize {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-image: url(https://png.pngtree.com/svg/20170120/12f17d969e.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.chatPopup .sendMessage {
	position: absolute;
	right: 10px;
	bottom: 20px;
	width: 30px;
	height: 30px;
	background-image: url(http://cdn.onlinewebfonts.com/svg/img_130824.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.chatPopup .nameContainer {
	position: absolute;
	width: 80%;
	height: 30px;
	top: 10px;
	left: 10px;
}

.chatPopup .messageContainer {
	position: absolute;
	width: 80%;
	height: 30px;
	bottom: 20px;
	left: 10px;
}

.chatPopup input {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 0 5px;
	font-size: 14px;
}

.chatPopup .chat {
	position: absolute;
	top: 55px;
	left: 10px;
	right: 10px;
	bottom: 65px;
	overflow: auto;
}

.chatPopup .chat .entry {
	position: relative;
	width: 100%;
	margin: 5px 0;
}

.chatPopup .chat .entry span {
	font-weight: bold;
}

@keyframes chatup {
	0% {
		height: 0px;
		width: 0px;
		bottom: 0px;
		right: 0px;
	}
	80% {
		height: 92%;
		width: 45%;
		bottom: 10px;
		right: 10px;
	}
	100% {
		height: 90%;
		width: 40%;
		bottom: 20px;
		right: 20px;
	}
}